<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.TbFunctionRoleMapper">
  <resultMap id="BaseResultMap" type="com.project.entity.FunctionRole">
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="FUNCTION_ID" jdbcType="INTEGER" property="functionId" />
    <result column="ROLE_ID" jdbcType="INTEGER" property="roleId" />
    <result column="CREATE_USER_ID" jdbcType="INTEGER" property="createUserId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <insert id="insert" parameterType="com.project.entity.FunctionRole">
    insert into TB_FUNCTION_ROLE (ID, FUNCTION_ID, ROLE_ID, 
      CREATE_USER_ID, CREATE_TIME)
    values (#{id,jdbcType=INTEGER}, #{functionId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, 
      #{createUserId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.project.entity.FunctionRole">
    insert into TB_FUNCTION_ROLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="functionId != null">
        FUNCTION_ID,
      </if>
      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="functionId != null">
        #{functionId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>