<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.TbSysUserMapper">
  <resultMap id="BaseResultMap" type="com.project.entity.TbSysUser">
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="LOGIN_NAME" jdbcType="VARCHAR" property="loginName" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="TELEPHONE" jdbcType="VARCHAR" property="telephone" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="TRUE_NAME" jdbcType="VARCHAR" property="trueName" />
    <result column="IDCARD" jdbcType="VARCHAR" property="idcard" />
    <result column="GENDER_CODE" jdbcType="INTEGER" property="genderCode" />
    <result column="DEPART_ID" jdbcType="INTEGER" property="departId" />
    <result column="USER_STATUS" jdbcType="INTEGER" property="userStatus" />
    <result column="DELETE_FLAG" jdbcType="INTEGER" property="deleteFlag" />
    <result column="CREATE_USER_ID" jdbcType="INTEGER" property="createUserId" />
    <result column="CREATE_TIME" jdbcType="DATE" property="createTime" />
    <result column="LOGIN_TIME_CONTROL" jdbcType="INTEGER" property="loginTimeControl" />
  </resultMap>
  <insert id="insert" parameterType="com.project.entity.TbSysUser">
    insert into SUNXL.TB_SYS_USER (ID, LOGIN_NAME, PASSWORD, 
      TELEPHONE, EMAIL, TRUE_NAME, 
      IDCARD, GENDER_CODE, DEPART_ID, 
      USER_STATUS, DELETE_FLAG, CREATE_USER_ID, 
      CREATE_TIME, LOGIN_TIME_CONTROL)
    values (#{id,jdbcType=INTEGER}, #{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{trueName,jdbcType=VARCHAR}, 
      #{idcard,jdbcType=VARCHAR}, #{genderCode,jdbcType=INTEGER}, #{departId,jdbcType=INTEGER}, 
      #{userStatus,jdbcType=INTEGER}, #{deleteFlag,jdbcType=INTEGER}, #{createUserId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=DATE}, #{loginTimeControl,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.project.entity.TbSysUser">
    insert into SUNXL.TB_SYS_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="loginName != null">
        LOGIN_NAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="telephone != null">
        TELEPHONE,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="trueName != null">
        TRUE_NAME,
      </if>
      <if test="idcard != null">
        IDCARD,
      </if>
      <if test="genderCode != null">
        GENDER_CODE,
      </if>
      <if test="departId != null">
        DEPART_ID,
      </if>
      <if test="userStatus != null">
        USER_STATUS,
      </if>
      <if test="deleteFlag != null">
        DELETE_FLAG,
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="loginTimeControl != null">
        LOGIN_TIME_CONTROL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="trueName != null">
        #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="genderCode != null">
        #{genderCode,jdbcType=INTEGER},
      </if>
      <if test="departId != null">
        #{departId,jdbcType=INTEGER},
      </if>
      <if test="userStatus != null">
        #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="loginTimeControl != null">
        #{loginTimeControl,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>