<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.TbSysLoginTimeControlMapper">
  <resultMap id="BaseResultMap" type="com.project.entity.SysLoginTimeControl">
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="CONTROL_NAME" jdbcType="VARCHAR" property="controlName" />
    <result column="START_TIME" jdbcType="VARCHAR" property="startTime" />
    <result column="END_TIME" jdbcType="VARCHAR" property="endTime" />
    <result column="CREATE_USER_ID" jdbcType="INTEGER" property="createUserId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="COMMENS" jdbcType="VARCHAR" property="commens" />
  </resultMap>
  <insert id="insert" parameterType="com.project.entity.SysLoginTimeControl">
    insert into TB_SYS_LOGIN_TIME_CONTROL (ID, CONTROL_NAME, START_TIME, 
      END_TIME, CREATE_USER_ID, CREATE_TIME, 
      COMMENS)
    values (#{id,jdbcType=INTEGER}, #{controlName,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR},
      #{endTime,jdbcType=VARCHAR}, #{createUserId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
      #{commens,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.project.entity.SysLoginTimeControl">
    insert into TB_SYS_LOGIN_TIME_CONTROL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="controlName != null">
        CONTROL_NAME,
      </if>
      <if test="startTime != null">
        START_TIME,
      </if>
      <if test="endTime != null">
        END_TIME,
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="commens != null">
        COMMENS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="controlName != null">
        #{controlName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commens != null">
        #{commens,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>